.panel {
  background-image: -webkit-gradient(linear,  left top,  right top,
		color-stop(0.00, rgba(255,0,0, 0.1)),
		color-stop(16%, rgba(255, 165, 0, 0.1)),
		color-stop(32%, rgba(255, 255, 0, 0.1)),
		color-stop(48%, rgba(0, 128, 0, 0.1)),
		color-stop(60%, rgba(0, 0, 255, 0.1)),
		color-stop(76%, rgba(75, 0, 130, 0.1)),
		color-stop(1.00, rgba(238, 130, 238, 0.1)));
}

